
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section details">
    <div class="details__bg" data-bg="https://galaphim.net/images/img_thumb/bua-chu.small.webp" style="background: url(&quot;https://galaphim.net/images/img_thumb/bua-chu.small.webp&quot;) center center / cover no-repeat;"></div>
    <div class="container">
        <div class="grid wide">
            <div class="row">
                <div class="col l-12">
                    <ul vocab="https://schema.org/" typeof="BreadcrumbList" class="breadcrumb single">
                        <li class="breadcrumb__item" property="itemListElement" typeof="ListItem">
                            <a href="https://galaphim.net" property="item" typeof="WebPage" title="GalaPhim"><span property="name">Trang chủ</span></a>
                            <meta property="position" content="1">
                        </li>
                        <li class="breadcrumb__item breadcrumb__item" property="itemListElement" typeof="ListItem">
                            <a href="https://galaphim.net/list/phim-le" title="Phim Lẻ" property="item" typeof="WebPage"><span property="name">Phim Lẻ</span></a>
                            <meta property="position" content="2">
                        </li>
                        <li class="breadcrumb__item breadcrumb__item--active" property="itemListElement" typeof="ListItem">
                            <span property="name">Bùa Chú</span>
                            <meta property="position" content="3">
                        </li>
                    </ul>
                    <h1 class="details__title"> Bùa Chú </h1>
                </div>
            </div>


            <div class="row">
                <div class="col l-8">
                    <!--
                        <div class="col l-8"> -->
                    <div class="grid">

                        <div class="row">

                            <div class="card card--details">
                                <div class="row no-gutters movie--meta">
                                    <div class="col l-4">
                                        <div class="card__cover">
                                            <center><img src="https://galaphim.net/images/img_poster/bua-chu.medium.webp" class="card__cover-img" alt="Bùa Chú - Spell" style=""></center>
                                            <ul class="movie_option">
                                                <li class="quality">FullHD</li>
                                            </ul><a href="https://galaphim.net/xem-phim-bua-chu/tap-full-sv1.html" class="card__play" title="Xem phim Bùa Chú - Spell"><i class="fas fa-play"></i></a>
                                            <div class="watch-eps">
                                                <a href="https://galaphim.net/bua-chu/download" title="Download phim Bùa Chú" class="btn-info-download"><i class="fas fa-cloud-download-alt"></i> Download</a><a class="watch-movie" href="https://galaphim.net/xem-phim-bua-chu/tap-full-sv1.html"
                                                                                                                                                                                                                 title="Xem phim Bùa Chú - Spell"><i class="fas fa-video"></i> Xem phim</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col l-8">
                                        <div class="card__content">
                                            <ul class="card__meta">
                                                <li><span>Tên gốc:</span><a href="https://galaphim.net/bua-chu" title="Phim Bùa Chú">Spell</a></li>
                                                <i class="imdb">IMDb 7.5</i>
                                                <li><span>Thể loại:</span><a href="https://galaphim.net/the-loai/kinh-di">Kinh Dị</a></li>
                                                <li><span>Thời lượng:</span> 91 Phút</li>
                                                <li><span>Quốc gia:</span><a href="https://galaphim.net/country/my">Mỹ</a></li>
                                                <li><span>Đạo diễn:</span><a href="https://galaphim.net/star/mark-tonderai">Mark Tonderai</a></li>
                                                <li><span>Diễn viên:</span><a href="https://galaphim.net/star/omari-hardwick">Omari Hardwick</a><a href="https://galaphim.net/star/loretta-devine">Loretta Devine</a></li>
                                                <li>
                                                    <span>Đánh giá phim:</span>
                                                    <div id="rating_content">
                                                        <div id="rating">
                                                            <input type="radio" id="star5" name="rating" value="10"><label class="full " for="star5" title="5"></label><input type="radio" id="star4half" name="rating" value="9"><label class="half "
                                                                                                                                                                                                                                         for="star4half" title="4.5"></label><input type="radio" id="star4" name="rating" value="8"><label class="full " for="star4" title="4"></label><input type="radio" id="star3half" name="rating"
                                                                                                                                                                                                                                                                                                                                                                                              value="7">
                                                            <label class="half " for="star3half" title="3.5"></label><input type="radio" id="star3" name="rating" value="6"><label class="full " for="star3" title="3"></label><input type="radio"
                                                                                                                                                                                                                                      id="star2half" name="rating" value="5"><label class="half checked check-rate" for="star2half" title="2.5"></label><input type="radio" id="star2" name="rating" value="4">
                                                            <label class="full checked check-rate" for="star2" title="2"></label><input type="radio" id="star1half" name="rating" value="3"><label class="half checked check-rate" for="star1half"
                                                                                                                                                                                                   title="1.5"></label><input type="radio" id="star1" name="rating" value="2"><label class="full checked check-rate" for="star1" title="1"></label><input type="radio" id="starhalf" name="rating"
                                                                                                                                                                                                                                                                                                                                                          value="1"><label class="half checked check-rate" for="starhalf" title="0.5"></label>
                                                        </div><i id="score-rating">
                                                            ( <span id="rating_score">2.5</span><i class="icon ion-ios-star"></i> /
                                                            <span id="total_rating">2</span> lượt )
                                                        </i>
                                                    </div>
                                                </li>
                                                <li><a class="quick-eps" data-toggle="collapse" href="#quick-eps"><i class="fas fa-arrow-right"></i> Chọn tập</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>




                        <div class="col l-12 trailer">
                            <div class="video_trailer">
                                <iframe width=" 750px " height="450px " src="https://www.youtube.com/embed/6FRxiAVWNT4 " title="YouTube video player " frameborder="0 " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                                            picture-in-picture " allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                    <!-- </div> -->

                </div>
                <div class="col l-4">
                    <div class="tab_popular">
                        <div class="widget-title">
                            <span>NỔI BẬT</span>
                            <!-- <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#day-list" role="tab" aria-controls="day-list" aria-selected="true">Ngày</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#week-list" role="tab" aria-controls="week-list" aria-selected="false">Tuần</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#month-list" role="tab" aria-controls="month-list" aria-selected="false">Tháng</a></li>
                            </ul> -->
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="day-list" role="tabpanel" aria-labelledby="1-tab">
                                <div class="row no-gutters">
                                    <div class="col l-4">
                                        <div class="card__cover"><img src="https://galaphim.net/images/img_poster/o-re.small.webp" class="lazy" alt="Ở Rể - My Heroic Husband" style=""><a href="https://galaphim.net/o-re" class="card__play" title="Ở Rể"><i class="fas fa-play"></i></a></div>
                                    </div>
                                    <div class="col l-8">
                                        <div class="card__content">
                                            <a href="https://galaphim.net/o-re" title="Ở Rể">
                                                <p class="movie_title">Ở Rể</p><span class="original_title">My Heroic Husband</span>
                                                <div class="popup"><i class="imdb">IMDb 7.5</i></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col l-4">
                                        <div class="card__cover">
                                            <img src="https://galaphim.net/images/img_poster/nguoi-hung-tia-chop-phan-7.small.webp" class="lazy" alt="Người Hùng Tia Chớp (Phần 7) - The Flash (Season 7)" style=""><a href="https://galaphim.net/nguoi-hung-tia-chop-phan-7"
                                                                                                                                                                                                                       class="card__play" title="Người Hùng Tia Chớp (Phần 7)"><i class="fas fa-play"></i></a>
                                        </div>
                                    </div>
                                    <div class="col l-8">
                                        <div class="card__content">
                                            <a href="https://galaphim.net/nguoi-hung-tia-chop-phan-7" title="Người Hùng Tia Chớp (Phần 7)">
                                                <p class="movie_title">Người Hùng Tia Chớp (Phần 7)</p><span class="original_title">The Flash (Season 7)</span>
                                                <div class="popup"><i class="imdb">IMDb 7.5</i></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col l-4">
                                        <div class="card__cover">
                                            <img src="https://galaphim.net/images/img_poster/dau-la-dai-luc.small.webp" class="lazy" alt="Đấu La Đại Lục - Soul Land" style="">
                                            <a href="https://galaphim.net/dau-la-dai-luc" class="card__play" title="Đấu La Đại Lục"><i class="fas fa-play"></i></a>
                                        </div>
                                    </div>
                                    <div class="col l-8">
                                        <div class="card__content">
                                            <a href="https://galaphim.net/dau-la-dai-luc" title="Đấu La Đại Lục">
                                                <p class="movie_title">Đấu La Đại Lục</p><span class="original_title">Soul Land</span>
                                                <div class="popup"><i class="imdb">IMDb 7.5</i></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col l-4">
                                        <div class="card__cover">
                                            <img src="https://galaphim.net/images/img_poster/hon-ca-ac-ma.small.webp" class="lazy" alt="Vượt Ra Tội Ác - Beyond Evil" style="">
                                            <a href="https://galaphim.net/vuot-ra-toi-ac" class="card__play" title="Vượt Ra Tội Ác"><i class="fas fa-play"></i></a>
                                        </div>
                                    </div>
                                    <div class="col l-8">
                                        <div class="card__content">
                                            <a href="https://galaphim.net/vuot-ra-toi-ac" title="Vượt Ra Tội Ác">
                                                <p class="movie_title">Vượt Ra Tội Ác</p><span class="original_title">Beyond Evil</span>
                                                <div class="popup"><i class="imdb">IMDb 7.5</i></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col l-4">
                                        <div class="card__cover">
                                            <img src="https://galaphim.net/images/img_poster/xin-chao-toi-oi.small.webp" class="lazy" alt="Xin Chào, Tôi Ơi! - Hello, Me!" style="">
                                            <a href="https://galaphim.net/xin-chao-toi-oi" class="card__play" title="Xin Chào, Tôi Ơi!"><i class="fas fa-play"></i></a>
                                        </div>
                                    </div>
                                    <div class="col l-8">
                                        <div class="card__content">
                                            <a href="https://galaphim.net/xin-chao-toi-oi" title="Xin Chào, Tôi Ơi!">
                                                <p class="movie_title">Xin Chào, Tôi Ơi!</p><span class="original_title">Hello, Me!</span>
                                                <div class="popup"><i class="imdb">IMDb 7.5</i></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col l-4">
                                        <div class="card__cover">
                                            <img src="https://galaphim.net/images/img_poster/wanda-va-vision.small.webp" class="lazy" alt="Wanda Và Vision (Phần 1) - WandaVision (Season 1)" style=""><a href="https://galaphim.net/wanda-va-vision" class="card__play"
                                                                                                                                                                                                          title="Wanda Và Vision (Phần 1)"><i class="fas fa-play"></i></a>
                                        </div>
                                    </div>
                                    <div class="col l-8">
                                        <div class="card__content">
                                            <a href="https://galaphim.net/wanda-va-vision" title="Wanda Và Vision (Phần 1)">
                                                <p class="movie_title">Wanda Và Vision (Phần 1)</p><span class="original_title">WandaVision (Season 1)</span>
                                                <div class="popup"><i class="imdb">IMDb 7.5</i></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col l-4">
                                        <div class="card__cover">
                                            <img src="https://galaphim.net/images/img_poster/van-chua-30.small.webp" class="lazy" alt="Vẫn Chưa 30 - Not Yet Thirty" style="">
                                            <a href="https://galaphim.net/van-chua-30" class="card__play" title="Vẫn Chưa 30"><i class="fas fa-play"></i></a>
                                        </div>
                                    </div>
                                    <div class="col l-8">
                                        <div class="card__content">
                                            <a href="https://galaphim.net/van-chua-30" title="Vẫn Chưa 30">
                                                <p class="movie_title">Vẫn Chưa 30</p><span class="original_title">Not Yet Thirty</span>
                                                <div class="popup"><i class="imdb">IMDb 7.5</i></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col l-4">
                                        <div class="card__cover">
                                            <img src="https://galaphim.net/images/img_poster/thien-nhai-khach.small.webp" class="lazy" alt="Thiên Nhai Khách (Sơn Hà Lệnh) - A Tale of the Wanderers" style=""><a href="https://galaphim.net/thien-nhai-khach"
                                                                                                                                                                                                                  class="card__play" title="Thiên Nhai Khách (Sơn Hà Lệnh)"><i class="fas fa-play"></i></a>
                                        </div>
                                    </div>
                                    <div class="col l-8">
                                        <div class="card__content">
                                            <a href="https://galaphim.net/thien-nhai-khach" title="Thiên Nhai Khách (Sơn Hà Lệnh)">
                                                <p class="movie_title">Thiên Nhai Khách (Sơn Hà Lệnh)</p><span class="original_title">A Tale of the Wanderers</span>
                                                <div class="popup"><i class="imdb">IMDb 7.5</i></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col l-4">
                                        <div class="card__cover">
                                            <img src="https://galaphim.net/images/img_poster/dai-duong-minh-nguyet.small.webp" class="lazy" alt="Đại Đường Minh Nguyệt - Weaving a Tale of Love" style=""><a href="https://galaphim.net/dai-duong-minh-nguyet_aZZ"
                                                                                                                                                                                                             class="card__play" title="Đại Đường Minh Nguyệt"><i class="fas fa-play"></i></a>
                                        </div>
                                    </div>
                                    <div class="col l-8">
                                        <div class="card__content">
                                            <a href="https://galaphim.net/dai-duong-minh-nguyet_aZZ" title="Đại Đường Minh Nguyệt">
                                                <p class="movie_title">Đại Đường Minh Nguyệt</p><span class="original_title">Weaving a Tale of Love</span>
                                                <div class="popup"><i class="imdb">IMDb 7.5</i></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col l-4">
                                        <div class="card__cover">
                                            <img src="https://galaphim.net/images/img_poster/tien-boi-dung-danh-mau-son-do.small.webp" class="lazy" alt="Tiền Bối, Đừng Đánh Màu Son Đó - She Would Never Know" style=""><a href="https://galaphim.net/tien-boi-dung-danh-mau-son-do"
                                                                                                                                                                                                                            class="card__play" title="Tiền Bối, Đừng Đánh Màu Son Đó"><i class="fas fa-play"></i></a>
                                        </div>
                                    </div>
                                    <div class="col l-8">
                                        <div class="card__content">
                                            <a href="https://galaphim.net/tien-boi-dung-danh-mau-son-do" title="Tiền Bối, Đừng Đánh Màu Son Đó">
                                                <p class="movie_title">Tiền Bối, Đừng Đánh Màu Son Đó</p><span class="original_title">She Would Never Know</span>
                                                <div class="popup"><i class="imdb">IMDb 7.5</i></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="row no-gutters">
                                <div class="col l-4">
                                    <div class="card__cover">
                                        <img src="https://galaphim.net/images/img_poster/linh-lung-lang-tam.small.webp" class="lazy" alt="Linh Lung Lang Tâm - Exquisite Wolf Heart" style=""><a href="https://galaphim.net/linh-lung-lang-tam" class="card__play"
                                                                                                                                                                                                 title="Linh Lung Lang Tâm"><i class="fas fa-play"></i></a>
                                    </div>
                                </div>
                                <div class="col l-8">
                                    <div class="card__content">
                                        <a href="https://galaphim.net/linh-lung-lang-tam" title="Linh Lung Lang Tâm">
                                            <p class="movie_title">Linh Lung Lang Tâm</p><span class="original_title">Exquisite Wolf Heart</span>
                                            <div class="popup"><i class="imdb">IMDb 7.5</i></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col l-4">
                                    <div class="card__cover">
                                        <img src="https://galaphim.net/images/img_poster/penthouse-cuoc-chien-thuong-luu-2.small.webp" class="lazy" alt="Penthouse 2: Cuộc Chiến Thượng Lưu (Phần 2) - The Penthouse 2: War In Life" style=""><a href="https://galaphim.net/penthouse-2-cuoc-chien-thuong-luu-phan-2"
                                                                                                                                                                                                                                                 class="card__play" title="Penthouse 2: Cuộc Chiến Thượng Lưu (Phần 2)"><i class="fas fa-play"></i></a>
                                    </div>
                                </div>
                                <div class="col l-8">
                                    <div class="card__content">
                                        <a href="https://galaphim.net/penthouse-2-cuoc-chien-thuong-luu-phan-2" title="Penthouse 2: Cuộc Chiến Thượng Lưu (Phần 2)">
                                            <p class="movie_title">Penthouse 2: Cuộc Chiến Thượng Lưu (Phần 2)</p><span class="original_title">The Penthouse 2: War In Life</span>
                                            <div class="popup"><i class="imdb">IMDb 7.5</i></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col l-4">
                                    <div class="card__cover">
                                        <img src="https://galaphim.net/images/img_poster/thanh-xuan-co-ban-mua-3.small.webp" class="lazy" alt="Thanh Xuân Có Bạn (Mùa 3) - Youth With You Season 3" style=""><a href="https://galaphim.net/thanh-xuan-co-ban-mua-3"
                                                                                                                                                                                                                class="card__play" title="Thanh Xuân Có Bạn (Mùa 3)"><i class="fas fa-play"></i></a>
                                    </div>
                                </div>
                                <div class="col l-8">
                                    <div class="card__content">
                                        <a href="https://galaphim.net/thanh-xuan-co-ban-mua-3" title="Thanh Xuân Có Bạn (Mùa 3)">
                                            <p class="movie_title">Thanh Xuân Có Bạn (Mùa 3)</p><span class="original_title">Youth With You Season 3</span>
                                            <div class="popup"><i class="imdb">IMDb 7.5</i></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col l-4">
                                    <div class="card__cover">
                                        <img src="https://galaphim.net/images/img_poster/hon-ca-ac-ma.small.webp" class="lazy" alt="Vượt Ra Tội Ác - Beyond Evil" style="">
                                        <a href="https://galaphim.net/vuot-ra-toi-ac" class="card__play" title="Vượt Ra Tội Ác"><i class="fas fa-play"></i></a>
                                    </div>
                                </div>
                                <div class="col l-8">
                                    <div class="card__content">
                                        <a href="https://galaphim.net/vuot-ra-toi-ac" title="Vượt Ra Tội Ác">
                                            <p class="movie_title">Vượt Ra Tội Ác</p><span class="original_title">Beyond Evil</span>
                                            <div class="popup"><i class="imdb">IMDb 7.5</i></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col l-4">
                                    <div class="card__cover">
                                        <img src="https://galaphim.net/images/img_poster/lat-mat-ba-chang-khuyet.small.webp" class="lazy" alt="Lật Mặt: Ba Chàng Khuyết - Lật Mặt: Ba Chàng Khuyết" style=""><a href="https://galaphim.net/lat-mat-ba-chang-khuyet_RDk"
                                                                                                                                                                                                                class="card__play" title="Lật Mặt: Ba Chàng Khuyết"><i class="fas fa-play"></i></a>
                                    </div>
                                </div>
                                <div class="col l-8">
                                    <div class="card__content">
                                        <a href="https://galaphim.net/lat-mat-ba-chang-khuyet_RDk" title="Lật Mặt: Ba Chàng Khuyết">
                                            <p class="movie_title">Lật Mặt: Ba Chàng Khuyết</p><span class="original_title">Lật Mặt: Ba Chàng Khuyết</span>
                                            <div class="popup"><i class="imdb">IMDb 7.5</i></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col l-4">
                                    <div class="card__cover">
                                        <img src="https://galaphim.net/images/img_poster/mat-biec.small.webp" class="lazy" alt="Mắt Biếc - Dreamy Eyes" style="">
                                        <a href="https://galaphim.net/mat-biec_tvP" class="card__play" title="Mắt Biếc"><i class="fas fa-play"></i></a>
                                    </div>
                                </div>
                                <div class="col l-8">
                                    <div class="card__content">
                                        <a href="https://galaphim.net/mat-biec_tvP" title="Mắt Biếc">
                                            <p class="movie_title">Mắt Biếc</p><span class="original_title">Dreamy Eyes</span>
                                            <div class="popup"><i class="imdb">IMDb 7.5</i></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col l-12">
                    <h2 class="section__title section__title--no-margin">Phim Bùa Chú - Spell </h2>
                </div>
                <div class="col-12">

                    <div class="card card--details">
                        <div class="card__content">
                            <div class="card__description entry-content">
                                <p>
                                    <strong>Bùa Chú</strong> - <strong>Spell </strong>là một bộ phim kinh dị siêu nhiên của Mỹ năm 2020 do Mark Tonderai đạo diễn và có sự tham gia của <em>Omari Hardwick</em> và <em>Loretta Devine</em>. Nó được phát
                                    hành tại Hoa Kỳ thông qua kỹ thuật số vào ngày 30 tháng 10 năm 2020 bởi<em> Paramount Players</em> thông qua <em>Paramount Pictures</em>.
                                </p>
                                <p><img src="https://galaphim.net/images/img_thumb/bua-chu.small.webp" alt="bua-chu" class="page_speed_1792247499 lazy" style="zoom: 1.6;"></p>
                                <p>
                                    Khi đang bay tới đám tang của cha mình ở vùng nông thôn <em>Appalachia</em>, một cơn bão dữ dội khiến <em>Marquis</em> mất quyền điều khiển chiếc máy bay chở mình và gia đình. Anh ta nhanh chóng đánh thức những
                                    người bị thương, một mình và bị mắc kẹt trên gác mái của cô Eloise.
                                </p>
                                <p>
                                    Eloise tuyên bố cô ấy có thể giúp anh ấy khỏe mạnh trở lại bằng một hình người áo khoác mà cô ấy làm từ máu và da của anh ấy. Không thể kêu cứu, Marquis cố gắng tuyệt vọng thoát khỏi ma thuật đen tối của cô và cứu
                                    gia đình anh khỏi một nghi lễ độc ác trước sự trỗi dậy của mặt trăng máu.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-12">
                    <div class="tag-content"><a href="https://galaphim.net/tag/bua-chu" title="Bùa Chú" rel="tag"><i class="fas fa-tag"></i> Bùa Chú</a><a href="https://galaphim.net/tag/spell" title="Spell" rel="tag"><i class="fas fa-tag"></i> Spell</a></div>
                </div>
            </div>
        </div>

    </div>
</section>



<section class="content">
    <div class="content__head">
        <div class="grid wide">
            <div class="row">
                <div class="col l-12">
                    <h3 class="content__title">Để lại đánh giá của bạn</h3>
                    <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Bình luận</a></li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="grid wide">
        <div class="row">
            <div class="col l-8">
                <div class="grid">
                    <div class="row">
                        <div class="col l-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">

                                    <div class="col l-12">
                                        <div class="comments">

                                            <div id="comment-form">
                                                <form action="#" class="form form-comment">
                                                    <div class="content-quote"></div><input type="hidden" name="check_login" value="0"><textarea name="content" required="" class="form__textarea" placeholder="Để lại bình luận của bạn"></textarea>
                                                    <button type="submit" class="form__btn">Gửi</button>
                                                </form>
                                            </div>



                                            <div class="comment-content">
                                                <ul class="comments__list" id="comment-content">
                                                    <li class="comment" id="comment-32512">
                                                        <div class="comments__item">
                                                            <div class="comments__autor">
                                                                <a href="https://galaphim.net/profile/30488">
                                                                    <img class="comments__avatar" src="https://lh3.googleusercontent.com/a-/AOh14GgFqN_enMc41tuvAe1KSCsl1pJA4k3nwR0q38Xh=s96-c" alt="Maria sajah">
                                                                    <span class="comments__name">Maria sajah</span>
                                                                </a>
                                                                <span class="comments__time">2021-02-13 16:34:58</span>
                                                            </div>
                                                            <div class="comments__text">
                                                                <div class="content_of_comment">
                                                                    HD xem đầy đủ phiên bản trực tuyến của Phim &amp; Chương trình Truyền hình Miễn phí Trực tuyến 2021<br> xem ngay FMOVIES21.ORG
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </li>

                                                    <li class="comment" id="comment-32512">
                                                        <div class="comments__item">
                                                            <div class="comments__autor">
                                                                <a href="https://galaphim.net/profile/30488">
                                                                    <img class="comments__avatar" src="https://lh3.googleusercontent.com/a-/AOh14GgFqN_enMc41tuvAe1KSCsl1pJA4k3nwR0q38Xh=s96-c" alt="Maria sajah">
                                                                    <span class="comments__name">Maria sajah</span>
                                                                </a>
                                                                <span class="comments__time">2021-02-13 16:34:58</span>
                                                            </div>
                                                            <div class="comments__text">
                                                                <div class="content_of_comment">
                                                                    HD xem đầy đủ phiên bản trực tuyến của Phim &amp; Chương trình Truyền hình Miễn phí Trực tuyến 2021<br> xem ngay FMOVIES21.ORG
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </li>
                                                </ul>
                                                <div class="see-more-comments"></div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l-12">
                            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="reviews">
                                            <div class="review-content">
                                                <ul class="reviews__list">
                                                </ul>
                                                <div class="reviews-pagination">

                                                </div>
                                            </div>
                                            <div id="review-form">
                                                <form action="#" class="form">
                                                    <input type="hidden" name="check_login" value="0"><textarea class="form__textarea" id="content" placeholder="Review" required=""></textarea>
                                                    <div class="form__slider">
                                                        <div class="form__slider-rating noUi-target noUi-ltr noUi-horizontal" id="slider__rating">
                                                            <div class="noUi-base">
                                                                <div class="noUi-connects">
                                                                    <div class="noUi-connect" style="transform: translate(0%, 0px) scale(1, 1);"></div>
                                                                </div>
                                                                <div class="noUi-origin" style="transform: translate(0%, 0px); z-index: 4;">
                                                                    <div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="100.0" aria-valuenow="100.0" aria-valuetext="10.0"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form__slider-value" id="form__slider-value">10.0</div>
                                                    </div><button type="submit" class="form__btn">Gửi</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l-4">
                <div class="row">
                    <div class="col l-12">
                        <h3 class="section__title section__title--sidebar">Có thể bạn thích...</h3>
                    </div>
                    <div class="col l-6">
                        <div class="card">
                            <div class="card__cover">
                                <img src="https://galaphim.net/images/img_poster/nguoi-den-tu-dia-nguc.medium.webp" alt="Người Đến Từ Địa Ngục - Constantine" class="card__cover-img" style="">
                                <ul class="movie_option">
                                    <li class="quality">HD</li>
                                </ul><span class="runtime">121 Phút</span><a href="https://galaphim.net/nguoi-den-tu-dia-nguc" class="card__play"><i class="icon ion-ios-play"></i></a>
                            </div>
                            <div class="card__content">
                                <h5 class="card__title"><a href="https://galaphim.net/nguoi-den-tu-dia-nguc" title="Xem phim Người Đến Từ Địa Ngục - Constantine">Người Đến Từ Địa Ngục</a></h5><span class="title_origin">Constantine</span>
                            </div>
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="card">
                            <div class="card__cover">
                                <img src="https://galaphim.net/images/img_poster/ngon-doi-co-mat.medium.webp" alt="Ngọn Đồi Có Mắt - The Hills Have Eyes" class="card__cover-img" style="">
                                <ul class="movie_option">
                                    <li class="quality">HD</li>
                                </ul><span class="runtime">107 phút</span><a href="https://galaphim.net/ngon-doi-co-mat" class="card__play"><i class="icon ion-ios-play"></i></a>
                            </div>
                            <div class="card__content">
                                <h5 class="card__title"><a href="https://galaphim.net/ngon-doi-co-mat" title="Xem phim Ngọn Đồi Có Mắt - The Hills Have Eyes">Ngọn Đồi Có Mắt</a></h5><span class="title_origin">The Hills Have Eyes</span>
                            </div>
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="card">
                            <div class="card__cover">
                                <img src="https://galaphim.net/images/img_poster/con-ret-nguoi.medium.webp" alt="Con Rết Người - The Human Centipede: First Sequence" class="card__cover-img" style="">
                                <ul class="movie_option">
                                    <li class="quality">HD</li>
                                </ul><span class="runtime">92 phút</span><a href="https://galaphim.net/con-ret-nguoi" class="card__play"><i class="icon ion-ios-play"></i></a>
                            </div>
                            <div class="card__content">
                                <h5 class="card__title"><a href="https://galaphim.net/con-ret-nguoi" title="Xem phim Con Rết Người - The Human Centipede: First Sequence">Con Rết Người</a></h5><span class="title_origin">The Human Centipede: First Sequence</span>
                            </div>
                        </div>
                    </div>
                    <div class="col l-6">
                        <div class="card">
                            <div class="card__cover">
                                <img src="https://galaphim.net/images/img_poster/the-chien-z.medium.webp" alt="Thế Chiến Z - World War Z" class="card__cover-img" style="">
                                <ul class="movie_option">
                                    <li class="quality">FullHD</li>
                                </ul><span class="runtime">90 phút</span><a href="https://galaphim.net/the-chien-z" class="card__play"><i class="icon ion-ios-play"></i></a>
                            </div>
                            <div class="card__content">
                                <h5 class="card__title"><a href="https://galaphim.net/the-chien-z" title="Xem phim Thế Chiến Z - World War Z">Thế Chiến Z</a></h5><span class="title_origin">World War Z</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>