@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/Content/assets/css/base.css">
    <link rel="stylesheet" href="~/Content/assets/css/main.css">
    <link rel="stylesheet" href="~/Content/assets/css/grid.css">
    <link rel="stylesheet" href="~/Content/assets/css/responsive.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/assets/css/fontawesome-free-5.15.1/css/all.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <title>Document</title>
</head>

<body style="background-color: #2b2b31;">
    <form action=""></form>
    <div class="body_signin">
        <div class="container_signin">
            <div class="img_signin">
                <a class="img_signin" href="#">
                    <img id="logo" src="~/Content/assets/img/logo.png" alt="#">
                </a>

            </div>
            <div class="input_signin_group">
                <input type="text" class="sign_input" name="email" placeholder="Email hoặc tên đăng nhập">
            </div>

            <div class="input_signin_group">
                <input type="password" class="sign_input" name="password" placeholder="Mật khẩu">
            </div>

            <div class="input_signin_group">
                <input type="password" class="sign_input" name="password" placeholder="Nhập lại mật khẩu">
            </div>
            <div class="input_signin_group ">
                <div class="sign_group_checkbox">
                    <input id="remember" name="remember" type="checkbox" checked="checked">
                    <label for="remember">Tôi đồng ý với điều khoản dịch vụ</label>
                </div>
            </div>
            <!-- <div class="signin_with">
                <a href="" class="facebook">Đăng nhập với
                        <img src="~/Content/assets/img/facebook-logo.png" alt="" class="icon_lg">
                </a>
            </div>
            <div class="signin_with">
                <a href="" class="google">Đăng nhập với
                        <img src="~/Content/assets/img/google-plus.png" alt="" class="icon_lg">

                </a>
            </div> -->
            <div style="margin-top: 100px;">
                <button class="sign_btn" type="submit">Đăng nhập</button>
            </div>
            <!-- <div class="sign_text">
                Bạn chưa có tài khoản
                <span><a href="#">Đăng ký!</a></span>

            </div> -->

            <div class="sign_text">
                <span><a href="#">Trở về</a></span>
            </div>
        </div>

    </div>
</body>

</html>
