.app__container {
    
}

.slider {
    position: relative;
    margin-top: 68px;
    height: 611px;
}

.slider__heading {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;    
}

.slider__heading--title {
    font-size: 3.6rem;
    line-height: 3.6rem;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    font-weight: 400;
}

.slider__movie {
    position: absolute;
    z-index: 2;
    top: 27%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.slider-list {
    display: block;
    /* height: 450px; */
    /* width: 300px; */
    margin-right: 20px;
}

.slider-item {
    /* overflow: hidden; */
    margin: 30px 20px;
}

.lSAction > a {
    width: 32px;
    display: block;
    top: 45%;
    height: 32px;
    background-image: url(../img/controls.png);
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}


/* Test slide */
.slider-wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


.slider-wrapper .slider__title {
    text-align: center;
    margin: 55px auto 40px auto;
    font-size: 3.6rem;
    line-height: 3.6rem;
    text-transform: uppercase;
    /* margin: 0; */
    color: #fff;
    font-weight: 400;
}
  
  .slider-wrapper .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
  }
  
  .slider-wrapper .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
  }
  
  .slider-wrapper .movie-wrapper {
    width: 84%;
    height: 450px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
  }
  
  .slider-wrapper .movie-wrapper .card {
    /* width: 216px; */
    height: 430px;
    margin: 0px 15px;
    display: inline-block;
    /* background: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033; */
  }

  .slick-dots {
      display: none;
  }

/* /Test slide */

.slider::before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../../assets/img/bg-slider.jpg) center center / cover no-repeat;
    opacity: .8;
    filter: brightness(50%);
    z-index: 1;
}

.content {
    background-color: #28282d;
    padding-bottom: 30px;
} 

.content__head {
    position: relative;
    margin-bottom: 30px;
    background-color: #28282d;
    box-shadow: 0 5px 25px 0 rgb(0, 0, 0, 0.3);
}

.content__head:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    display: block;
    background-image: linear-gradient(90deg,#ff55a5 0,#ff5860 100%);
    box-shadow: 0 0 20px 0 rgb(255, 88, 96, 0.5);
}

.content__head-title {
    height: 54px;
    color: var(--white-color);
    margin: 50px 0 10px 0;
    font-size: 3.6rem;
    font-weight: 400;
}


/* Album*/
.album {
    padding: 60px 0;
    /* background-color: #2c2c35; */
    /* height: 1000px; */
}

.album:nth-of-type(2n+1) {
    background-color: #2c2c35;
}

.album:nth-of-type(2n+2) {
    background-color: #28282d;
}


.album__head {
    height: 43px;
    margin-bottom: 35px;
}

.album__head-title-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.album__head-title-link:hover .album__head-title--text {
    color: var(--primary-color);
}

.album__head-title-link:hover .album__head-title--icon {
    color: var(--primary-color);
}

.album__head-title--text {
    font-size: 3.6rem;
    margin: 0;
    color: var(--white-color);
    font-weight: 400;
}

.album__head-title--icon {
    font-size: 3rem;
    color: var(--white-color);
    margin-left: 10px;
}

.intro {
    color: rgba(255,255,255,.7);
}

.intro__title {
    text-align: center;
    font-size: 2.8rem;
    line-height: 3rem;
    font-weight: 400;
    margin: 0 0 16px;
}

.intro p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 16px;
}

.intro h3 {
    font-size: 22px;
    line-height: 2.4rem;
}

.intro__link--new-movie {
    color: var(--primary-color);
    text-decoration: none;
}

.intro__link--new-movie:hover {
    color: #337ab7;
}

