.app__container {
    
}

.slider {
    margin-top: 68px;
    background: url(../../assets/img/bg-slider.jpg) center center / cover no-repeat;
     height: 611px;
}

.content {
    background-color: #28282d;
    padding-bottom: 30px;
} 

.content__head {
    position: relative;
    margin-bottom: 30px;
    background-color: #28282d;
    box-shadow: 0 5px 25px 0 rgb(0, 0, 0, 0.3);
}

.content__head:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    display: block;
    background-image: linear-gradient(90deg,#ff55a5 0,#ff5860 100%);
    box-shadow: 0 0 20px 0 rgb(255, 88, 96, 0.5);
}

.content__head-title {
    height: 54px;
    color: var(--white-color);
    margin: 50px 0 10px 0;
    font-size: 3.6rem;
    font-weight: 400;
}


/* Album*/
.album {
    padding: 60px 0;
    /* background-color: #2c2c35; */
    /* height: 1000px; */
}

.album:nth-of-type(2n+1) {
    background-color: #2c2c35;
}

.album:nth-of-type(2n+2) {
    background-color: #28282d;
}


.album__head {
    height: 43px;
    margin-bottom: 35px;
}

.album__head-title-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.album__head-title-link:hover .album__head-title--text {
    color: var(--primary-color);
}

.album__head-title-link:hover .album__head-title--icon {
    color: var(--primary-color);
}

.album__head-title--text {
    font-size: 3.6rem;
    margin: 0;
    color: var(--white-color);
    font-weight: 400;
}

.album__head-title--icon {
    font-size: 3rem;
    color: var(--white-color);
    margin-left: 10px;
}

.intro {
    color: rgba(255,255,255,.7);
}

.intro__title {
    text-align: center;
    font-size: 2.8rem;
    line-height: 3rem;
    font-weight: 400;
    margin: 0 0 16px;
}

.intro p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 16px;
}

.intro h3 {
    font-size: 22px;
    line-height: 2.4rem;
}

.intro__link--new-movie {
    color: var(--primary-color);
    text-decoration: none;
}

.intro__link--new-movie:hover {
    color: #337ab7;
}