
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--===============================================================================================-->
    @*<link rel="icon" type="image/png" href="~/Areas/Assets/Form/images/icons/favicon.ico" />*@
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Assets/Form/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Assets/Form/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Assets/Form/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Assets/Form/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Assets/Form/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Assets/Form/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Assets/Form/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Assets/Form/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Assets/Form/css/main.css">
    <!--===============================================================================================-->
    <title>Create Film Le</title>
</head>
<body>
    
    <div class="container-contact100">
        <div class="wrap-contact100">
            <form class="contact100-form validate-form" action="/Admin/Admin/CreateFilm" method="post">
                <div class="form-group wrap-input100">
                    <label for="filmID" class="label-input100">ID phim</label>
                    <input type="text" class="form-control input100" id="filmID" name="filmID" placeholder="Nhập ID phim">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="nameFilm" class="label-input100">Tên phim</label>
                    <input type="text" class="form-control input100" id="nameFilm" name="nameFilm" placeholder="Nhập tên phim">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="nameEngFilm">Tên tiếng Anh</label>
                    <input type="text" class="form-control input100" id="nameEngFilm" name="nameEngFilm" placeholder="Nhập tên Anh">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="linkImgAvt">Link ảnh thẻ</label>
                    <input type="text" class="form-control input100" id="linkImgAvt" name="linkImgAvt" placeholder="Nhập link ảnh thẻ">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="linkImgDes">Link ảnh mô tả</label>
                    <input type="text" class="form-control input100" id="linkImgDes" name="linkImgDes" placeholder="Nhập link ảnh mô tả">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="linkBgImage">Link ảnh bìa</label>
                    <input type="text" class="form-control input100" id="linkBgImage" name="linkBgImage" placeholder="Nhập link ảnh bìa">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="linkTrailer">Link trailer</label>
                    <input type="text" class="form-control input100" id="linkTrailer" name="linkTrailer" placeholder="Nhập link trailer">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="desText">Mô tả phim</label>
                    <input type="text" class="form-control input100" id="desText" name="desText" placeholder="Nhập mô tả phim">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="contentText">Nội dung phim</label>
                    <input type="text" class="form-control input100" id="contentText" name="contentText" placeholder="Nhập nội dung phim">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="releaseFilm">Ngày công chiếu</label>
                    <input class="form-control input100" type="date" value="2011-08-19" id="releaseFilm" name="releaseFilm">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="statusText">Trạng thái phim</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="statusText" id="exampleRadios1" value="Đã phát hành" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Đã phát hành
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="statusText" id="exampleRadios2" value="Đang phát hành">
                        <label class="form-check-label" for="exampleRadios2">
                            Đang phát hành
                        </label>
                    </div>
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="imdb">IMDB</label>
                    <input type="text" class="form-control input100" id="imdb" name="imdb" placeholder="Nhập IMDB">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="quality">Chất lượng</label>
                    <select id="quality" name="quality" class="form-control input100 selection-2">
                        <option selected>FullHD</option>
                        <option>2K</option>
                        <option>HD</option>
                    </select>
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="star">Số sao</label>
                    <input type="number" min="1" max="5" class="form-control input100" id="star" name="star" placeholder="Số sao (1 - 5)">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="nation">Quốc gia</label>
                    <input type="text" class="form-control input100" id="nation" name="nation" placeholder="Nhập tên quốc gia">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="actor">Diễn viên chính</label>
                    <input type="text" class="form-control input100" id="actor" name="actor" placeholder="Nhập tên diễn viên chính">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="director">Đạo diễn</label>
                    <input type="text" class="form-control input100" id="director" name="director" placeholder="Nhập tên đạo diễn">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="genre">Thể loại</label>
                    <input type="text" class="form-control input100" id="genre" name="genre" placeholder="Nhập thể loại">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100">
                    <label for="linkEpisode">Link Phim</label>
                    <input type="text" class="form-control input100" id="linkEpisode" name="linkEpisode" placeholder="Nhập link phim">
                    <span class="focus-input100"></span>
                </div>
                <div class="form-group wrap-input100 invisible d-none">
                    <label for="releasedEpisodes">Số tập đang phát</label>
                    <input type="number" class="form-control input100" id="releasedEpisodes" name="releasedEpisodes" placeholder="Nhập số tập đang phát">
                </div>
                <div class="form-group wrap-input100 invisible d-none">
                    <label for="totalEpisodes">Tổng số tập</label>
                    <input type="number" class="form-control input100" id="totalEpisodes" name="totalEpisodes" placeholder="Nhập tổng số tập">
                </div>
                <div class="form-group wrap-input100 invisible d-none">
                    <label for="Episode">Tập</label>
                    <input type="text" class="form-control input100" id="Episode" name="Episode" placeholder="Nhập tập phim">
                </div>
                <div class="form-group wrap-input100 invisible d-none">
                    <input type="text" class="form-control input100" id="createDate" name="createDate" value="">
                </div>
                <div class="form-group wrap-input100 invisible d-none">
                    <input type="text" class="form-control input100" id="createBy" name="createBy" value="">
                </div>
                <div class="form-group wrap-input100">
                    <a href="/Admin/Admin/Films" class="btn btn-secondary" >Close</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </form>
        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Areas/Assets/Form/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Assets/Form/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Assets/Form/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Areas/Assets/Form/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Assets/Form/vendor/select2/select2.min.js"></script>
    <script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
    </script>
    <!--===============================================================================================-->
    <script src="~/Areas/Assets/Form/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Areas/Assets/Form/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Assets/Form/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Assets/Form/js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
    </script>
</body>
</html>
