
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}


<!-- End of Topbar -->
<!-- Begin Page Content -->
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    @*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>*@
</div>



<!-- Content Row -->

<div class="row">

    <!-- Bar Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bar Chart Comments</h6>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="myBarChartComments"></canvas>
                </div>
                <hr>

            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->


@section scripts {

    <script type="text/javascript">
        $(function () {
            var ctx = document.getElementById("myBarChartComments");
            var myBarChartComments = new Chart(ctx, {
                type: 'bar',
                data: @Html.Raw(Json.Encode(ViewBag.barData)),
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        })
    </script>
}

