:root {
    --primary-color: rgb(222, 80, 109);
    --white-color: #fff;
    --black-color: #000;
    --star-gold-color: #ffce3e;
    --back-ground-color: #2B2B31;
    --header-height: 90px;
}

* {
    box-sizing: inherit;
}

html {
    /* 62.5% => 1rem = 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


/* App */

.app {
    overflow: hidden;
}


/* Header Navbar */

.header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2b2b31;
    height: var(--header-height);
    z-index: 101;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.4);
}

.header__content {
    display: flex;
    height: var(--header-height);
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    padding: 0;
    background-color: #28282d;
    width: 240px
}

.header__logo-img {
    max-width: 150px;
    width: 100%;
    display: block;
}

.header__nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    margin-left: 50px;
    margin-right: 50px;
}

.header__nav-item {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    position: relative;
}

.header__nav-link {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, .75);
    letter-spacing: .2px;
}

.header__nav-link:hover {
    color: var(--primary-color);
}

.header__auth {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.header__search-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    transition: .4s ease;
    cursor: pointer;
    margin-right: 50px;
    outline: none;
}

.header__search-btn:hover .header__search-btn-icon {
    color: var(--white-color);
}

.header__search-btn-icon {
    font-size: 2.4rem;
    color: rgba(255, 255, 255, .75);
}

.header__notify-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    transition: .4s ease;
    cursor: pointer;
    margin-right: 50px;
    outline: none;
}

.header__notify-btn:hover .header__notify-icon {
    color: var(--white-color);
}

.header__notify-icon {
    font-size: 2.4rem;
    color: rgba(255, 255, 255, .75);
}

.header__sign-in-btn {
    font-size: 1.5rem;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 400;
}

/*
    input search
*/

.header__search-wrap {
    background-color: #2b2b31;
    border-top: 1px solid #36363c;
    transition: opacity .3s linear;
    transform: translate(0);
    opacity: 1;
    /* display: none; */
}

.header__search-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    position: relative;
}

    .header__search-content input {
        position: relative;
        height: 60px;
        width: 100%;
        background-color: #28282d;
        border: none;
        padding: 0 120px 0 15px;
        font-size: 15px;
        color: #fff;
    }

.hidden {
    transform: translate(9999px);
    opacity: 0;
}

.visuallyhidden {
    opacity: 0;
}

.header__search-content input:focus {
    outline: none;
}

.btn-search {
    color: var(--white-color);
    font-size: 1.6rem;
    height: 40px !important;
    width: 90px !important;
}


/* Button */

.btn {
    height: 50px;
    min-width: 140px;
    background-image: linear-gradient(0deg, #ff55a5 0, #ff5860 100%);
    border: 0;
    padding: 0;
    border-radius: 4px;
    opacity: .9;
}

.btn:hover {
    box-shadow: 0 1px 15px rgba(222, 80, 109, 0.7);
    opacity: 1;
    background-image: linear-gradient(90deg, #ff55a5 0, #ff5860 100%);
    cursor: pointer;
}


/* Card-full */

.card-full {
    margin-bottom: 30px;
}


/* Phan ben trai */

.card__cover {
    position: relative;
    text-decoration: none;
    display: block;
    /* border-radius: 7px; */
    overflow: hidden;
}

.card__cover-img {
    width: 100%;
    vertical-align: middle;
    border-style: none;
    border-radius: 7px;
}

.card__play {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    top: calc(50% - 12px);
    left: calc(50% - 5px);
    margin: -30px 0 0 -30px;
    /* z-index: 3;     */
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    transition: .4s ease;
    opacity: 0;
}

.card__play--small {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    top: calc(50% - 12px);
    left: calc(50% - 5px);
    margin: -30px 0 0 -30px;
    /* z-index: 3;     */
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    transition: .4s ease;
    opacity: 0;
}

.card__play-icon {
    margin: 2px 0 0 3px;
    font-size: 3.6rem;
    color: #fff;
}

.card__play-icon--small {
    margin: 2px 0 0 3px;
    font-size: 2.4rem;
    color: #fff;
}

.movie_option {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ea9b06;
    height: 18px;
    width: 48px;
    border-radius: 3px;
    top: 5px;
    left: 5px;
}

.movie_option__text {
    display: inline-block;
    font-size: 1.2rem;
    font-style: normal;
    padding: 2px 5px;
    font-weight: 700;
    line-height: 100%;
    padding: 0;
    color: #fff;
}

.runtime {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 5px;
    right: 5px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #ff55a5;
    padding: 3px 5px;
}

.runtime__text {
    font-size: 1.2rem;
    color: #fff;
    line-height: 100%;
    font-weight: 700;
}

.card__cover:hover {
    box-shadow: 0 0 20px 0 rgb(255, 88, 96, .5);
}

.card__cover:hover .card__play {
    opacity: 1;
}


/* Phan ben phai */

.card__content {
    margin-left: 10px;
}

.card__content-title {
    margin-top: -10px;
    /* height: 38px; */
}

.card__content-title-link {
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 2.8rem;
    height: 2.8rem;
    color: #fff;
    margin: 8px 0;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}

.card__content-title-origin {
    color: rgba(255, 255, 255, .5);
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.card__category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    height: 24px;
    overflow: hidden;
}

.card__category-link {
    position: relative;
    text-decoration: none;
    font-size: 1.4rem;
    background-image: -webkit-linear-gradient(0deg, #ff55a5 0, #ff5860 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff5860;
    margin-right: 7px;
    opacity: .9;
}

.card__category-link::after {
    content: ',';
    position: absolute;
    display: block;
    left: 100%;
    top: 0;
    background-image: -webkit-linear-gradient(0deg, #ff55a5 0, #ff5860 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff5860;
}

.card__category-link:last-child {
    overflow: hidden;
}

.card__country {}

.card__country-link {
    text-decoration: none;
    margin: 5px 0;
    display: block;
    margin-right: 10px;
    font-size: 1.4rem;
    color: #ff5860;
    opacity: .9;
}

.card__imdb {
    height: 16px;
    width: 55px;
    margin-top: 15px;
    color: #000;
    background-image: -webkit-linear-gradient(90deg, #f5c518 50%, #b99100 100%);
    background-image: linear-gradient(to bottom, #b99100 0, #f5c518 51%, #b99100 100%);
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    padding: 2px;
    border-radius: 3px;
    line-height: 100%;
    -webkit-box-shadow: 0 0 20px 0 rgb(0 0 0 / 80%);
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 80%);
    -webkit-border-radius: 3px;
}

.card__description {}

.card__description p {
    /* font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 15px;
    letter-spacing: .2px; */
    --lineHeight: 2.5rem;
    font-size: 1.6rem;
    line-height: var(--lineHeight);
    height: calc(var(--lineHeight)*5);
    color: rgba(255, 255, 255, .7);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    margin-bottom: 15px;
}


/* Card nho */

.card__content--s {
    margin-top: 20px;
    margin-bottom: 30px;
}

.card__content--s .card__content-title {
    text-transform: uppercase;
    margin-bottom: 0;
}

.card__content--s .card__content-title-origin {
    margin-top: -4px;
}

.body_signin {
    position: relative;
    background-color: #2b2b31;
    display: flex;
    justify-content: center;
    padding-top: 15rem;
}

.container_signin {
    position: relative;
    width: 400px;
    height: 680px;
    padding-bottom: 2px;
    background-color: #2b2b31;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%);
}

.container_signin::before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    display: flex;
    background-image: linear-gradient( 90deg, #ff55a5 0, #ff5860 100%);
}

.container_signin>.img_signin {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#logo {
    width: 168px;
    height: auto;
}

.btn {
    height: 50px;
    min-width: 140px;
    background-image: linear-gradient(0deg, #ff55a5 0, #ff5860 100%);
    border: 0;
    padding: 0;
    border-radius: 4px;
    opacity: .9;
}

.btn:hover {
    box-shadow: 0 1px 15px rgba(222, 80, 109, 0.7);
    opacity: 1;
    background-image: linear-gradient(90deg, #ff55a5 0, #ff5860 100%);
    cursor: pointer;
}

.body_signin {
    position: relative;
    background-color: #2b2b31;
    display: flex;
    justify-content: center;
    padding-top: 15rem;
}

.container_signin {
    position: relative;
    width: 400px;
    height: 680px;
    padding-bottom: 2px;
    background-color: #2b2b31;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 30%);
}

.container_signin::before {
    content: '';
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    display: flex;
    background-image: linear-gradient( 90deg, #ff55a5 0, #ff5860 100%);
}

.container_signin>.img_signin {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#logo {
    width: 168px;
    height: auto;
}


/* s */

.input_signin_group {
    justify-content: center;
    position: relative;
    display: flex;
    margin-bottom: 20px;
    border-radius: 0.5;
}

.sign_input {
    background-color: #36363b;
    border: none;
    height: 50px;
    position: relative;
    color: #fff;
    font-size: 15px;
    width: 250px;
    color: #fff;
    border-radius: 8px;
    padding: 0 20px;
    letter-spacing: .2px;
}

input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.sign_group_checkbox {
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    position: relative;
    cursor: pointer;
    padding-left: 80px;
    line-height: 22px;
    margin: 0;
    width: 100%;
    text-align: left;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.signin_with .facebook {
    background-color: #0570e6;
}

.signin_with .google {
    background-color: #ea4335;
}

.signin_with a {
    color: #fff;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
    margin-left: 100px;
    margin-right: 100px;
}

.signin_with a :hover {
    background-image: linear-gradient( 90deg, #ff55a550 0, #ff586050 100%);
}

a {
    text-decoration: none;
    background-color: transparent;
}

.icon_lg {
    width: 11px;
    height: auto;
    /* vertical-align: middle; */
}

.signin_with {
    padding-bottom: 20px;
}

.sign_btn:hover {
    opacity: 1;
    color: #fff;
}

.sign_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 250px;
    border-radius: 4px;
    background-image: linear-gradient( 90deg, #ff55a5 0, #ff5860 100%);
    box-shadow: 0 0 20px 0 rgb(255 88 96 / 50%);
    opacity: 0.85;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-left: 70px;
    margin-right: 80px;
    margin-bottom: 50px;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    transition: .4s ease;
    cursor: pointer;
    overflow: visible;
    line-height: inherit;
    font-family: inherit;
}

.sign_text {
    margin-top: 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    position: relative;
    justify-content: center;
    margin-top: 25px;
    display: flex;
}

.sign_text a {
    position: relative;
    background-image: -webkit-linear-gradient( 0deg, #ff55a5 0, #ff5860 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff5860;
    opacity: .8;
}