
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
            @foreach (var film in ViewBag.listAll)
            {
                <li>

                    <a href="/Tu/Index">@film.nameFilm</a>
                </li>
            }
        </ul>
    </div>
</body>
</html>
